In [ ]:
! pip install -r requirements.txt

# Importando librerias

In [1]:
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

# Desafio

In [23]:
# Importando datos
'''
Cuando comencé a trabajar con el archivo 'dataset_SCL.csv' proporcionado y evidencié que
algunas lineas contenían el caracter ", sencillo o triple. Esto crea un error en esas lineas
al ser leido como pandas.DataFrame. Por ejemplo, las lineas 17.059 y 17.060 vienen con ese
problema.

Decidí elimnar esas lineas, en la lectura de los datos usando, el comment='"'.
El archivo original tiene 68.206 y quedó con 68.167.
Se eliminaron solamente 39 lineas, un tamaño infimo de datos para el tamaño original.

Usé dtype='object' porque siendo un desafio de clasificación, y dando una ojeada inicial 
a los datos, establezco que son pocos los tipos de datos diferentes a object.

Serian datetime solamente 'Fecha-I' y 'Fecha-O'.
Serian solamente int 'DIA', 'MES' y 'AÑO'
'''

df_initial = pd.read_csv('dataset_SCL.csv', dtype='object', comment='"', encoding='utf-8')
df_initial.head()

,Fecha-I,Vlo-I,Ori-I,Des-I,Emp-I,Fecha-O,Vlo-O,Ori-O,Des-O,Emp-O,DIA,MES,AÑO,DIANOM,TIPOVUELO,OPERA,SIGLAORI,SIGLADES
0,2017-01-01 23:30:00,226,SCEL,KMIA,AAL,2017-01-01 23:33:00,226,SCEL,KMIA,AAL,1,1,2017,Domingo,I,American Airlines,Santiago,Miami
1,2017-01-02 23:30:00,226,SCEL,KMIA,AAL,2017-01-02 23:39:00,226,SCEL,KMIA,AAL,2,1,2017,Lunes,I,American Airlines,Santiago,Miami
2,2017-01-03 23:30:00,226,SCEL,KMIA,AAL,2017-01-03 23:39:00,226,SCEL,KMIA,AAL,3,1,2017,Martes,I,American Airlines,Santiago,Miami
3,2017-01-04 23:30:00,226,SCEL,KMIA,AAL,2017-01-04 23:33:00,226,SCEL,KMIA,AAL,4,1,2017,Miercoles,I,American Airlines,Santiago,Miami
4,2017-01-05 23:30:00,226,SCEL,KMIA,AAL,2017-01-05 23:28:00,226,SCEL,KMIA,AAL,5,1,2017,Jueves,I,American Airlines,Santiago,Miami

In [25]:
# Comprobando que todas las columnas quedaron tipo object
df_initial.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68167 entries, 0 to 68166
Data columns (total 18 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Fecha-I    68167 non-null  object
 1   Vlo-I      68167 non-null  object
 2   Ori-I      68167 non-null  object
 3   Des-I      68167 non-null  object
 4   Emp-I      68167 non-null  object
 5   Fecha-O    68167 non-null  object
 6   Vlo-O      68166 non-null  object
 7   Ori-O      68167 non-null  object
 8   Des-O      68167 non-null  object
 9   Emp-O      68167 non-null  object
 10  DIA        68167 non-null  object
 11  MES        68167 non-null  object
 12  AÑO        68167 non-null  object
 13  DIANOM     68167 non-null  object
 14  TIPOVUELO  68167 non-null  object
 15  OPERA      68167 non-null  object
 16  SIGLAORI   68167 non-null  object
 17  SIGLADES   68167 non-null  object
dtypes: object(18)
memory usage: 9.4+ MB

## Preparación y limpieza de los datos

### Arreglando problemas de tipo de datos

#### Fechas

In [26]:
# Transformando 'fechas' a datetime
df_initial['Fecha-I'] =  pd.to_datetime(df_initial['Fecha-I'], format='%Y-%m-%d %H:%M:%S')
df_initial['Fecha-O'] =  pd.to_datetime(df_initial['Fecha-O'], format='%Y-%m-%d %H:%M:%S')
df_initial.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68167 entries, 0 to 68166
Data columns (total 18 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Fecha-I    68167 non-null  datetime64[ns]
 1   Vlo-I      68167 non-null  object
 2   Ori-I      68167 non-null  object
 3   Des-I      68167 non-null  object
 4   Emp-I      68167 non-null  object
 5   Fecha-O    68167 non-null  datetime64[ns]
 6   Vlo-O      68166 non-null  object
 7   Ori-O      68167 non-null  object
 8   Des-O      68167 non-null  object
 9   Emp-O      68167 non-null  object
 10  DIA        68167 non-null  object
 11  MES        68167 non-null  object
 12  AÑO        68167 non-null  object
 13  DIANOM     68167 non-null  object
 14  TIPOVUELO  68167 non-null  object
 15  OPERA      68167 non-null  object
 16  SIGLAORI   68167 non-null  object
 17  SIGLADES   68167 non-null  object
dtypes: datetime64[ns](2), object(16)
memory usage: 9.4+ MB

#### Enteros

In [27]:
# Transformando 'DIA', 'MES' y 'AÑO', para tipo int
df_initial = df_initial.astype({'DIA': 'int32', 'MES': 'int32', 'AÑO': 'int32'})
df_initial.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68167 entries, 0 to 68166
Data columns (total 18 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Fecha-I    68167 non-null  datetime64[ns]
 1   Vlo-I      68167 non-null  object
 2   Ori-I      68167 non-null  object
 3   Des-I      68167 non-null  object
 4   Emp-I      68167 non-null  object
 5   Fecha-O    68167 non-null  datetime64[ns]
 6   Vlo-O      68166 non-null  object
 7   Ori-O      68167 non-null  object
 8   Des-O      68167 non-null  object
 9   Emp-O      68167 non-null  object
 10  DIA        68167 non-null  int32
 11  MES        68167 non-null  int32
 12  AÑO        68167 non-null  int32
 13  DIANOM     68167 non-null  object
 14  TIPOVUELO  68167 non-null  object
 15  OPERA      68167 non-null  object
 16  SIGLAORI   68167 non-null  object
 17  SIGLADES   68167 non-null  object
dtypes: datetime64[ns](2), int32(3), object(13)
memory usage: 8.6+ MB

### Valores nulos

In [28]:
# Valores nulos?
df_initial.isnull().sum().sum()

1

In [29]:
# Fila del valor nulo?
row_nan = df_initial[df_initial.isnull().any(1)]
row_nan

,Fecha-I,Vlo-I,Ori-I,Des-I,Emp-I,Fecha-O,Vlo-O,Ori-O,Des-O,Emp-O,DIA,MES,AÑO,DIANOM,TIPOVUELO,OPERA,SIGLAORI,SIGLADES
6068,2017-01-19 11:00:00,200,SCEL,SPJC,LAW,2017-01-19 11:03:00,NaN,SCEL,SPJC,56R,19,1,2017,Jueves,I,Latin American Wings,Santiago,Lima

In [31]:
# El valor nan está en la columna 'Vlo-O'
# Colocaré el mismo valor de 'Vlo-I'
df_initial.loc[6068,'Vlo-O']='200'

In [32]:
# Rectificando valores nulos?
df_initial.isnull().sum().sum()

# No hay valores nulos

0

### Datos duplicados

In [33]:
# Existen datos duplicados?
df_initial.duplicated().any()

# No hay valores duplicados

False

### Concordancia de la información

In [34]:
# La información contenida tiene concordar con lo que significa
# Por ejemplo, encontrar una ciudad en tipo de vuelo

# Para esto calculó la cantidad de datos unicos por columna

df_initial.nunique()

Fecha-I      53232
Vlo-I          581
Ori-I            1
Des-I           61
Emp-I           30
Fecha-O      62742
Vlo-O          857
Ori-O            1
Des-O           60
Emp-O           32
DIA             31
MES             12
AÑO              2
DIANOM           7
TIPOVUELO        2
OPERA           23
SIGLAORI         1
SIGLADES        59
dtype: int64

In [35]:
# Tres columnas tienen valores unicos y se pueden eliminar
# Estas tres columnas se refieren al origen de los vuelos
# Todos los vuelos se originan desde Santiago

df_initial.drop(['Ori-I', 'Ori-O', 'SIGLAORI'], axis=1, inplace=True)

#### AÑO

In [36]:
# Hay dos valores en 'AÑO', pero parece que las 'fechas' son solo de 2017
# Comprobar los años de las fechas
df_initial['AÑO'].value_counts()

2017    68165
2018        2
Name: AÑO, dtype: int64

In [37]:
# Hay solo dos fechas con 'AÑO' de 2018
# Se puede comprobar manualmente

row_2018 = df_initial[df_initial['AÑO'] == 2018]
row_2018

,Fecha-I,Vlo-I,Des-I,Emp-I,Fecha-O,Vlo-O,Des-O,Emp-O,DIA,MES,AÑO,DIANOM,TIPOVUELO,OPERA,SIGLADES
66891,2017-12-31 23:55:00,602,KLAX,LAN,2018-01-01 00:02:00,602.0,KLAX,LAN,1,1,2018,Lunes,I,Grupo LATAM,Los Angeles
66920,2017-12-31 23:40:00,622,MMMX,LAN,2018-01-01 00:12:00,622.0,MMMX,LAN,1,1,2018,Lunes,I,Grupo LATAM,Ciudad de Mexico

In [38]:
# Realmente corresponde a dos vuelos que operaron en 2018
# Pero, por la poca variabilidad de los datos de 'AÑO',
# esta columna se puede elimnar

df_initial.drop(['AÑO'], axis=1, inplace=True)

#### Codigo de vuelo con decimales

In [56]:
df_initial['Vlo-O'].unique()

array(['226', '912', '940', '92', '93', '401', '11', '1011', '1281',
       '1283', '1285', '1287', '1289', '1291', '2291', '98', '116', '176',
       '240', '295', '689', '250', '112', '118', '174', '249', '276',
       '495', '4495', '146', '7661', '7663', '9245', '9268', '9362',
       '6830', '702', '624', '28', '846', '709', '741', '8021', '8023',
       '8027', '8029', '8069', '8073', '8075', '8099', '8125', '8137',
       '8160', '8161', '9601', '9615', '9651', '9653', '9661', '9689',
       '9782', '9623', '1', '3', '7', '9', '13', '15', '17', '21', '23',
       '25', '41', '43', '51', '53', '55', '61', '71', '73', '75', '81',
       '83', '102', '104', '106', '108', '110', '120', '122', '128',
       '130', '132', '134', '140', '142', '150', '156', '160', '162',
       '164', '166', '170', '172', '180', '182', '184', '186', '188',
       '190', '192', '194', '196', '501', '503', '507', '521', '531',
       '551', '800', '802', '804', '1083', '14', '31', '35', '37', '57',
       '65', '67', '69', '89', '91', '97', '114', '124', '126', '136',
       '138', '144', '148', '152', '154', '168', '178', '201', '203',
       '207', '209', '211', '213', '215', '217', '219', '221', '231',
       '233', '235', '237', '239', '241', '247', '251', '257', '259',
       '261', '263', '265', '267', '269', '271', '273', '275', '277',
       '279', '281', '283', '285', '287', '289', '291', '293', '297',
       '300', '302', '304', '306', '308', '312', '314', '318', '320',
       '322', '324', '326', '328', '330', '332', '334', '336', '338',
       '340', '342', '344', '346', '348', '350', '366', '374', '380',
       '382', '384', '386', '388', '396', '403', '405', '439', '443',
       '445', '449', '451', '455', '461', '481', '500', '502', '504',
       '510', '530', '532', '534', '546', '572', '574', '576', '582',
       '592', '600', '602', '622', '632', '642', '646', '648', '650',
       '704', '708', '750', '752', '760', '772', '776', '778', '798',
       '801', '833', '841', '843', '845', '849', '900', '902', '906',
       '910', '930', '932', '934', '942', '952', '954', '968', '970',
       '972', '986', '988', '991', '993', '1320', '1322', '1326', '1334',
       '1357', '1359', '1446', '1498', '2632', '2636', '2638', '2640',
       '2650', '2702', '4501', '1001', '1003', '4503', '1004', '1005',
       '1302', '1340', '200', '700', '1700', '33', '59', '95', '243',
       '1318', '634', '1304', '1303', '1200', '1202', '1300', '71R', '99',
       '158', '198', '205', '1101', '376', '378', '404', '406', '410',
       '414', '430', '432', '434', '438', '486', '492', '1346', '536',
       '638', '640', '644', '864', '890', '892', '1122', '1126', '1151',
       '1363', '1361', '1946', '2370', '2372', '2374', '7811', '1103',
       '1061', '7813', '1071', '201R', '1165', '1301', '1906', '202',
       '1704', '9625', '8665', '4950', '45', '100', '523', '1025', '4000',
       '63', '352', '354', '452', '460', '636', '674', '888', '895',
       '897', '1108', '1124', '1128', '1236', '1248', '2364', '2366',
       '2378', '2474', '2478', '1050', '1051', '1052', '1102', '1104',
       '1130', '1159', '1230', '43R', '989', '2093', '401A', '401B',
       '3000', '9000', '802R', '459', '483', '1160', '1114', '1168',
       '1238', '1239', '1261', '114R', '622R', '1107', '1140', '1167',
       '1271', '1031', '9659', '1551', '1800', '358', '492R', '1111',
       '2518', '7959', '1041', '400', '402', '2297', '1297', '4118',
       '9858', '9860', '9244', '9246', '9247', '9261', '9272', '2726',
       '9673', '9956', '9600', '9629', '9662', '9701', '9955', '5', '77',
       '553', '316', '368', '372', '1155', '470', '506', '604', '2486',
       '1136', '1158', '1242', '1244', '2368', '1113', '338R', '1105',
       '1106', '1115', '1132', '1166', '2488', '1400', '1033', '4', '8',
       '26', '22', '1927', '7721', '922', '5924', '591P', '2763', '2804',
       '8519', '8525', '8542', '9622', '356', '1138', '1148', '6', '32',
       '50', '52', '86', '88', '9301', '9303', '846A', '47', '60', '1234',
       '1250', '1241', '1034', '1035', '1043', '7704', '10', '253',
       '1502', '8083', '8131', '9851', '27', '543', '1198', '39', '87',
       '390', '448', '664', '805', '1054', '1065', '1116', '1121', '1146',
       '1154', '1188', '1193', '1218', '1222', '1224', '1226', '1228',
       '1235', '1237', '1249', '1260', '1262', '1264', '1428', '7899',
       '502R', '1142', '1240', '2600', '30', '2092', '3624', '9643',
       '9461', '9510', '9540', '706', '1088', '1091', '1099', '1134',
       '1169', '1170', '1195', '1199', '1243', '1251', '1257', '1277',
       '1279', '207R', '1233', '54', '1600', '2287', '9289', '85',
       '150.0', '156.0', '160.0', '162.0', '164.0', '166.0', '168.0',
       '170.0', '172.0', '174.0', '176.0', '180.0', '182.0', '184.0',
       '186.0', '190.0', '192.0', '194.0', '196.0', '198.0', '501.0',
       '503.0', '507.0', '521.0', '531.0', '543.0', '551.0', '553.0',
       '555.0', '620.0', '630.0', '800.0', '802.0', '804.0', '1149.0',
       '1503.0', '1531.0', '1.0', '9.0', '14.0', '31.0', '35.0', '37.0',
       '39.0', '53.0', '57.0', '59.0', '61.0', '63.0', '65.0', '69.0',
       '87.0', '91.0', '93.0', '95.0', '97.0', '99.0', '114.0', '120.0',
       '122.0', '124.0', '126.0', '128.0', '130.0', '134.0', '136.0',
       '138.0', '140.0', '142.0', '144.0', '146.0', '148.0', '152.0',
       '154.0', '158.0', '188.0', '201.0', '203.0', '205.0', '207.0',
       '209.0', '211.0', '213.0', '215.0', '217.0', '219.0', '221.0',
       '231.0', '232.0', '235.0', '237.0', '239.0', '241.0', '251.0',
       '257.0', '259.0', '261.0', '263.0', '265.0', '267.0', '269.0',
       '271.0', '273.0', '275.0', '277.0', '279.0', '281.0', '283.0',
       '285.0', '287.0', '289.0', '291.0', '293.0', '295.0', '297.0',
       '300.0', '302.0', '304.0', '306.0', '308.0', '312.0', '314.0',
       '316.0', '318.0', '320.0', '322.0', '324.0', '326.0', '328.0',
       '330.0', '334.0', '336.0', '340.0', '342.0', '344.0', '346.0',
       '348.0', '350.0', '352.0', '366.0', '380.0', '382.0', '384.0',
       '386.0', '388.0', '390.0', '404.0', '406.0', '410.0', '414.0',
       '430.0', '432.0', '434.0', '439.0', '443.0', '445.0', '448.0',
       '449.0', '455.0', '461.0', '481.0', '486.0', '492.0', '500.0',
       '502.0', '510.0', '530.0', '532.0', '536.0', '546.0', '572.0',
       '574.0', '576.0', '582.0', '592.0', '600.0', '602.0', '622.0',
       '632.0', '638.0', '642.0', '702.0', '704.0', '706.0', '708.0',
       '750.0', '752.0', '755.0', '757.0', '763.0', '801.0', '805.0',
       '833.0', '841.0', '843.0', '864.0', '888.0', '890.0', '892.0',
       '895.0', '897.0', '1088.0', '1091.0', '1117.0', '1126.0', '1128.0',
       '1134.0', '1136.0', '1141.0', '1146.0', '1166.0', '1170.0',
       '1176.0', '1178.0', '1186.0', '1188.0', '1191.0', '1193.0',
       '1197.0', '1199.0', '1222.0', '1224.0', '1226.0', '1241.0',
       '1243.0', '1246.0', '1247.0', '1259.0', '1267.0', '1269.0',
       '1277.0', '1279.0', '1281.0', '1446.0', '2370.0', '2372.0',
       '2374.0', '2474.0', '7811.0', '7813.0', '7899.0', '7911.0',
       '1101.0', '1102.0', '1106.0', '1230.0', '1235.0', '1236.0',
       '1237.0', '1238.0', '1239.0', '1261.0', '33.0', '43.0', '50.0',
       '54.0', '200.0', '202.0', '402.0', '700.0', '1031.0', '1033.0',
       '4.0', '6.0', '8.0', '10.0', '26.0', '32.0', '52.0', '86.0',
       '88.0', '110.0', '112.0', '253.0', '255.0', '301.0', '305.0',
       '307.0', '400.0'], dtype=object)

In [57]:
df_initial['Vlo-I'].unique()

array(['226', '912', '940', '92', '93', '401', '11', '1011', '1281',
       '1283', '1285', '1287', '1289', '1291', '2291', '98', '116', '176',
       '240', '295', '689', '250', '112', '118', '174', '249', '276',
       '495', '4495', '146', '7661', '7663', '9245', '9268', '9362',
       '6830', '702', '624', '28', '846', '709', '741', '8021', '8023',
       '8027', '8029', '8069', '8073', '8075', '8099', '8125', '8137',
       '8160', '8161', '9601', '9615', '9651', '9653', '9661', '9689',
       '9782', '9623', '1', '3', '7', '9', '13', '15', '17', '21', '23',
       '25', '41', '43', '51', '53', '55', '61', '71', '73', '75', '81',
       '83', '102', '104', '106', '108', '110', '120', '122', '128',
       '130', '132', '134', '140', '142', '150', '156', '160', '162',
       '164', '166', '170', '172', '180', '182', '184', '186', '188',
       '190', '192', '194', '196', '501', '503', '507', '521', '531',
       '551', '800', '802', '804', '1083', '14', '31', '35', '37', '57',
       '65', '67', '69', '89', '91', '97', '114', '124', '126', '136',
       '138', '144', '148', '152', '154', '168', '178', '201', '203',
       '207', '209', '211', '213', '215', '217', '219', '221', '231',
       '233', '235', '237', '239', '241', '247', '251', '257', '259',
       '261', '263', '265', '267', '269', '271', '273', '275', '277',
       '279', '281', '283', '285', '287', '289', '291', '293', '297',
       '300', '302', '304', '306', '308', '312', '314', '318', '320',
       '322', '324', '326', '328', '330', '332', '334', '336', '338',
       '340', '342', '344', '346', '348', '350', '366', '374', '380',
       '382', '384', '386', '388', '396', '403', '405', '439', '443',
       '445', '449', '451', '455', '461', '481', '500', '502', '504',
       '510', '530', '532', '534', '546', '572', '574', '576', '582',
       '592', '600', '602', '622', '632', '642', '646', '648', '650',
       '704', '708', '750', '752', '760', '772', '776', '778', '798',
       '801', '833', '841', '843', '845', '849', '900', '902', '906',
       '910', '930', '932', '934', '942', '952', '954', '968', '970',
       '972', '986', '988', '991', '993', '1320', '1322', '1326', '1334',
       '1357', '1359', '1446', '1498', '2632', '2636', '2638', '2640',
       '2650', '2702', '4501', '4503', '1003', '1004', '1005', '1302',
       '1340', '200', '700', '1704', '33', '59', '95', '243', '634',
       '1200', '1202', '1300', '1071', '99', '158', '198', '205', '376',
       '378', '404', '406', '410', '414', '430', '432', '434', '438',
       '486', '492', '536', '638', '640', '644', '864', '890', '892',
       '1122', '1126', '1151', '1363', '1946', '2370', '2372', '2374',
       '7811', '7813', '1165', '1301', '1906', '204', '9625', '8665',
       '4950', '45', '100', '523', '1025', '4000', '63', '352', '354',
       '452', '460', '636', '674', '888', '895', '897', '1108', '1124',
       '1128', '1236', '1248', '2364', '2366', '2378', '2474', '2478',
       '1050', '1051', '1052', '1061', '1101', '1102', '1104', '1130',
       '1159', '1230', '202', '989P', '3000', '9000', '459', '483',
       '1114', '1168', '1238', '1239', '1261', '1107', '1140', '1167',
       '1271', '1031', '1700', '940P', '9659', '1551', '1800', '358',
       '1103', '1111', '2518', '7959', '400', '402', '2297', '9244',
       '9246', '9247', '9261', '9272', '9673', '9956', '9600', '9629',
       '9662', '9701', '9955', '5', '77', '553', '316', '368', '372',
       '470', '506', '604', '1136', '1158', '1242', '1244', '2368',
       '2486', '1105', '1106', '1113', '1115', '1132', '1155', '1166',
       '2488', '1400', '1033', '4', '8', '26', '22', '1927', '7721',
       '591P', '846A', '8519', '8525', '8542', '9622', '356', '1138',
       '1148', '1041', '6', '32', '50', '52', '86', '88', '9301', '9303',
       '47', '60', '1234', '1250', '1241', '1034', '1035', '1043', '7704',
       '10', '253', '1502', '8083', '8131', '9851', '27', '543', '1198',
       '39', '87', '390', '448', '664', '805', '1054', '1065', '1116',
       '1121', '1146', '1154', '1188', '1193', '1218', '1222', '1224',
       '1226', '1228', '1235', '1237', '1249', '1260', '1262', '1264',
       '1428', '7899', '1142', '1240', '2600', '30', '2092', '2093',
       '3624', '9643', '9461', '9510', '9540', '1104A', '706', '1088',
       '1091', '1099', '1134', '1169', '1170', '1195', '1199', '1243',
       '1251', '1257', '1277', '1279', '1233', '54', '1600', '2287',
       '4118', '9289', '85', '555', '620', '630', '1149', '1503', '1531',
       '232', '755', '757', '763', '1117', '1141', '1176', '1178', '1186',
       '1191', '1197', '1246', '1247', '1259', '1267', '1269', '7911',
       '255', '301', '305', '307'], dtype=object)

In [58]:
# Se pudo observar que algunos valores de 'Vlo-O' tienen numeros
# almacenados con decimales (.0). Por esto 'Vlo-O' tiene 857 valores
# unicos y 'Vlo-I' tiene solo 581 valores unicos

# Remplazar '.0' en 'Vlo-O'
df_initial['Vlo-O'] = df_initial['Vlo-O'].str.replace('.0','')
df_initial.nunique()

Fecha-I      53232
Vlo-I          581
Des-I           61
Emp-I           30
Fecha-O      62742
Vlo-O          444
Des-O           60
Emp-O           32
DIA             31
MES             12
DIANOM           7
TIPOVUELO        2
OPERA           23
SIGLADES        59
dtype: int64

In [66]:
# 'Vlo-O' pasó de 857 valores unicos a 444

# Problemas de los decimales solucionado
df_initial['Vlo-O'].unique()

array(['226', '912', '9', '92', '93', '1', '11', '1281', '1283', '1285',
       '1287', '1289', '1291', '2291', '98', '116', '176', '2', '295',
       '689', '112', '118', '174', '249', '276', '495', '4495', '146',
       '7661', '7663', '9245', '9268', '9362', '68', '624', '28', '846',
       '741', '21', '23', '27', '29', '69', '73', '75', '99', '8125',
       '8137', '81', '8161', '91', '9615', '9651', '9653', '9661', '9689',
       '9782', '9623', '3', '7', '13', '15', '17', '25', '41', '43', '51',
       '53', '55', '61', '71', '83', '4', '6', '8', '122', '128', '132',
       '134', '142', '156', '162', '164', '166', '172', '182', '184',
       '186', '188', '192', '194', '196', '521', '531', '551', '0', '14',
       '31', '35', '37', '57', '65', '67', '89', '97', '114', '124',
       '126', '136', '138', '144', '148', '152', '154', '168', '178',
       '211', '213', '215', '217', '219', '221', '231', '233', '235',
       '237', '239', '241', '247', '251', '257', '259', '261', '263',
       '265', '267', '269', '271', '273', '275', '277', '279', '281',
       '283', '285', '287', '289', '291', '293', '297', '312', '314',
       '318', '322', '324', '326', '328', '332', '334', '336', '338',
       '342', '344', '346', '348', '366', '374', '382', '384', '386',
       '388', '396', '5', '439', '443', '445', '449', '451', '455', '461',
       '481', '532', '534', '546', '572', '574', '576', '582', '592',
       '622', '632', '642', '646', '648', '752', '772', '776', '778',
       '798', '833', '841', '843', '845', '849', '932', '934', '942',
       '952', '954', '968', '972', '986', '988', '991', '993', '1322',
       '1326', '1334', '1357', '1359', '1446', '1498', '2632', '2636',
       '2638', '26', '22', '01', '03', '04', '05', '12', '10', '33', '59',
       '95', '243', '1318', '634', '71R', '158', '198', '376', '378',
       '414', '432', '434', '438', '486', '492', '1346', '536', '638',
       '644', '864', '892', '1122', '1126', '1151', '1363', '1361',
       '1946', '2372', '2374', '7811', '7813', '1R', '1165', '16', '9625',
       '8665', '49', '45', '523', '', '63', '352', '354', '452', '636',
       '674', '888', '895', '897', '18', '1124', '1128', '1236', '1248',
       '2364', '2366', '2378', '2474', '2478', '52', '1159', '43R', '989',
       '1A', '1B', '2R', '459', '483', '1114', '1168', '1238', '1239',
       '1261', '114R', '622R', '1167', '1271', '9659', '1551', '358',
       '492R', '1111', '2518', '7959', '2297', '1297', '4118', '9858',
       '9244', '9246', '9247', '9261', '9272', '2726', '9673', '9956',
       '90', '9629', '9662', '9955', '77', '553', '316', '368', '372',
       '1155', '2486', '1136', '1158', '1242', '1244', '2368', '1113',
       '338R', '1115', '1132', '1166', '2488', '1927', '7721', '922',
       '5924', '591P', '2763', '24', '8519', '8525', '8542', '9622',
       '356', '1138', '1148', '32', '86', '88', '846A', '47', '1234',
       '1241', '34', '74', '253', '8131', '9851', '543', '1198', '39',
       '87', '448', '664', '54', '1116', '1121', '1146', '1154', '1188',
       '1193', '1218', '1222', '1224', '1226', '1228', '1235', '1237',
       '1249', '1262', '1264', '1428', '7899', '1142', '20', '3624',
       '9643', '9461', '1134', '1169', '1195', '1199', '1243', '1251',
       '1257', '1277', '1279', '7R', '1233', '2287', '9289', '85', '555',
       '1149', '1531', '232', '755', '757', '763', '1117', '1141', '1176',
       '1178', '1186', '1191', '1197', '1246', '1247', '1259', '1267',
       '1269', '7911', '255'], dtype=object)

#### Concordancia de fechas

In [65]:
# 'DIA' está bien
df_initial['DIA'].unique()

array([ 1,  2,  3,  4,  5,  7,  8, 10, 12, 14, 16, 18, 21, 23, 25, 28, 30,
        6,  9, 11, 13, 15, 17, 19, 22, 24, 26, 27, 29, 31, 20],
      dtype=int32)

In [62]:
# 'MES' está bien
df_initial['MES'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12], dtype=int32)

In [67]:
# 'DIANOM' está bien
df_initial['DIANOM'].unique()

array(['Domingo', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 'Sabado',
       'Viernes'], dtype=object)

str

In [ ]:
Cambio de diudad programado - operacion

:

:

In [ ]:
# Adversarial Validation
# roc_auc_score

# Data makes the difference, not the model

:

:

:

:

:

In [ ]:
df_initial.to_pickle('df_2.pkl')

: